header{
    background-color:blueviolet;
    color: white;
}
body{
    background-color:rgba(139, 32, 246, 0.164);
    color: rgb(0, 0, 0);
    font-size: 24px;
    align-items: ;
}
.cabeçalho{
    background-color: #363062;
    color: rgb(244, 244, 252);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabeçalho-imagem{
    background-color: #363062;
    width: 20%;
}
*{
    margin: 20px;
    padding: 10px;
}
.body-de{
    width: 10%;
    margin: 0 1600px ; 
}
.projeto-div{
    background-color: blanchedalmond;
    text-align: left;
    padding: 16px 0;
}
.projeto{
    background-color: rgb(19, 19, 142);
    color: rgb(255, 255, 255)
}
.projeto-titulo{
    text-align: center;
    padding: 20px 0;
    margin: 50px;
}
.rodape{
    background-color:white;
    text-align: center;
}
.rodape-imagem{
    height: 80px;
    padding: 12px ;
}
.formação{
    background-color: rgb(0, 0, 0);
    height: 300px;
    margin: 0 100px;
    padding: 20px 0;
}
.formação2{
    background-color: rgb(0, 0, 0);
    height: 300px;
    margin: 0 100px;
    padding: 20px 0;
}