header{
    background-color:blueviolet;
    color: white;
}
body{
    background-color:rgb(11, 114, 165);
}
.cabeçalho{
    background-color: rgb(189, 215, 215);
    color: mintcream;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabeçalho-imagem{
    width: 20%;
}
*{
    margin: 0;
    padding: 0;
}
.body-de{
    width: 10%; 
}
*{
    margin: 20;
    padding: 20;
}